th, td, .table {
  border: thin solid black; border-collapse:collapse;
}
td {
  height: 50px;
}
table{
  width: 50%;
}
.menu {
  color: white; text-decoration: none; font-size: 20px; font-weight: bold;
}
.pros {
  background-color:#3399ff; font-weight: bold; font-size:20px;
}
.cons {
  background-color:#ff3300; font-weight: bold; font-size:20px;
}
.table {
  margin-top: 35px;
  color: white;
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
  -moz-border-radius:1px;
  width:20%}
#img {
  float: right;
  width: 1000px;
  border: 3px solid rgba(0,0,0, 0.6);
  border-radius: 10px}
#bg-img {
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/749932.png");
  background-size: cover;
}
#bg-img2 {
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/432437.jpg");
}
#textbox1 {
  text-decoration: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
}
#padding {
  padding-top: 20px;
}
.menubox2 {
  text-align: center;
  font-size: 20px;
  color: white;
  text-decoration: none;
  background-color: white;
  background-color: rgba(0,0,0, 0.1);
  border-color: white;
  border: 3px solid #f1f1f1;
  position: absolute;
  z-index: 2;
  width: 4.8%;
  padding: 5px;
  border-radius: 10px;
}
.menubox {
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.0);
  border: 3px solid rgba(0,0,0, 0.6);
  position: absolute;
  z-index: 2;
  width: 5.6%;
  padding: 5px;
  border-radius: 10px;
}
.menuDiv{
  margin: 13px;
  height: 30px;
}
#textbox {
  text-decoration: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.0);
  font-weight: bold;
  font-size: 15.5px;
  border: 3px solid rgba(0,0,0, 0.6);
  position: absolute;
  z-index: 2;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
}
